*{
  margin: 0 !important;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Aurora-Grotesk";
  src: local("Aurora-Grotesk"),
    url("./assets/fonts/AuroraGrotesk-Medium.otf") format("opentype") tech(color-COLRv1), url("./assets/fonts/AuroraGrotesk-Medium.otf")
      format("opentype");
}

::selection {
  color: rgb(212, 61, 61);
  background: pink;
}

body{
  font-family: Aurora-Grotesk, Inter, Avenir, Helvetica, Arial, sans-serif !important;
  font-size: 16px;
  font-style: normal;
  overflow-x: hidden;
  scroll-behavior: smooth!important;
  scrollbar-color: pink;
  cursor:auto;
  color-scheme: light dark;
  background-color:#000000!important;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color: rgba(255, 255, 255, 0.87) !important;
}

a{
  text-decoration: none!important;
}

h1{
  color:#f8c3d9;
  display: inline;
  font-family: Aurora-Grotesk;
  font-size: 8em;
}

.noselect,br,hr {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}



.text-gradient {
	background: linear-gradient(-45deg, #fd68a6, #d88dec, #fd688b);
	background-size: 40em;
  background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: rgba(255, 255, 255, 0);
	animation: animated_text 6s ease-in-out infinite;
	-moz-animation: animated_text 6s ease-in-out infinite;
	-webkit-animation: animated_text 6s ease-in-out infinite;
  overflow-x: visible !important;
}

span{
  overflow-x: visible !important;
}



@keyframes animated_text {
	0% { background-position: 0px 50%; }
	100% { background-position: 100% 50%; }
}

.Landing{
  height: 90vh;
  width: 100vw!important;
  display: flex!important;
  justify-content: center;
  align-items: center;
}
.LandingContent{
  position: relative;
  bottom: 4em;
}

.Button{
  color: #fff !important;
  border: solid 1px #fff !important;
}


.highlight{
  color:#f8c3d9;
  border: solid 1px #f8c3d9;
  display: inline;
  border-radius: 25px;
  padding: 4px 8px;
}

.Artwork{
  z-index: -1;
}

.Project{
  margin: 1em!important; 
  padding: 1em !important;
}

#Projects{

}

svg path{
  fill:white;
}